html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFFEFE;
  background: #000000;
}

a {
  text-decoration: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  position: relative;
  padding: 0 96px;
  margin: 0 0 170px;
  box-sizing: border-box;
}
@media (max-width: 900px) {
  .header {
    padding: 0 20px;
  }
}

.header__wrp {
  display: flex;
}

.header__wrp-nav {
  padding: 35px 0;
  display: grid;
  width: calc(100% - 300px);
  max-width: 1728px;
  position: absolute;
  grid-template-columns: 90px 400px 1fr;
  grid-column-gap: 158px;
}
@media (max-width: 1400px) {
  .header__wrp-nav {
    grid-template-rows: 30px 30px;
    grid-template-columns: 90px 1fr;
  }
}
@media (max-width: 1030px) {
  .header__wrp-nav {
    grid-column-gap: 71px;
  }
}

.header__wrp-first-screen {
  width: 50%;
  min-height: 800px;
  padding: 300px 0 0;
  box-sizing: border-box;
}

@media (max-width: 1400px) {
  .header__nav-list-wrp {
    grid-row-start: 2;
    grid-row-start: 3;
  }
}

.header__nav-list {
  display: flex;
  gap: 50px;
}
@media (max-width: 1030px) {
  .header__nav-list {
    display: none;
  }
}

.header__nav-list a {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #FFFEFE;
  text-transform: uppercase;
}

.header__wrp-first-screen h2 {
  font-family: inherit;
  font-size: 100px;
  font-weight: 700;
  line-height: 110px;
  color: #801019;
  display: block;
  margin: 0 0 12px;
  text-transform: uppercase;
}

.header__wrp-first-screen p {
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
  margin: 0 0 86px;
}

.header__desc a {
  font-family: inherit;
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  width: 285px;
  min-height: 50px;
  background: #801019;
  color: #FFFEFE;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__second-screen {
  padding: 35px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 1;
}

.header__second-screen img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 50%;
  max-width: 1043px;
  height: 800px;
  object-fit: cover;
}
@media (max-width: 1400px) {
  .header__second-screen img {
    width: 100%;
    max-width: initial;
  }
}

.header__wrp-nav [type=search] {
  display: block;
  height: 30px;
  width: 260px;
  padding: 10px;
  margin: 0 71px 0 0;
}

.header__wrp-nav a {
  height: 30px;
  display: flex;
  align-items: center;
}

.header__search {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1030px) {
  .header__search {
    grid-row-start: 1;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    justify-content: flex-start;
  }
}

.header__search a:first-of-type {
  margin: 0 21px 0 0;
}

.header__links {
  display: flex;
}
@media (max-width: 1400px) {
  .header__links {
    flex-direction: column;
  }
}

.header__links img {
  margin: 0 148px 0 0;
}

.products {
  padding: 0 96px;
}
@media (max-width: 1030px) {
  .products {
    padding: 0 20px;
  }
}

.products h2 {
  font-family: inherit;
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 51px;
}

.slider {
  padding: 0 21px;
  margin: 0 0 126px;
}

.slider__btn {
  color: white;
  height: 26px;
  width: 16px;
}

.slider__btn svg {
  height: 26px;
  width: 16px;
  fill: #FFFEFE;
}

.slider__item-wrp {
  background: #FFFEFE;
  min-height: 426px;
  color: #000000;
}

.slider__item img {
  width: 100%;
  height: 264px;
  margin: 0 0 35px;
}

.slider__item-content-wrp {
  padding: 0 40px 12px;
}

.slider__item h3 {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 12px;
  color: #801019;
}

.slider__item-rate-wrp img {
  height: auto;
  width: auto;
  margin: 0 18px 0 0;
}

.slider__item-rate-wrp {
  display: flex;
  margin: 0 0 7px;
  align-items: flex-end;
}

.slider__item p {
  font-family: inherit;
  width: 100px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}

.slider__item p:first-of-type {
  margin: 0 0 6px;
}

.slider__item button {
  margin: 33px 0 0 0;
  width: 100%;
  min-height: 40px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #801019;
  color: #FFFEFE;
  text-transform: uppercase;
}

.ride-us {
  min-height: 864px;
  padding: 0 150px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  margin: 0 0 120px;
}
@media (max-width: 1030px) {
  .ride-us {
    justify-content: center;
    min-height: 256px;
    padding: 0 100px;
  }
}

.ride-us img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 864px;
  object-fit: cover;
}
@media (max-width: 1030px) {
  .ride-us img {
    height: 256px;
  }
}

.ride-us a {
  font-family: inherit;
  font-size: 100px;
  font-weight: 700;
  color: #FFFEFE;
  text-transform: uppercase;
}
@media (max-width: 1030px) {
  .ride-us a {
    font-size: 50px;
    line-height: 55px;
  }
}

.city-bike {
  margin: 0 0 280px;
  padding: 0 96px;
}
@media (max-width: 1400px) {
  .city-bike {
    margin: 0 0 150px;
    padding: 0 0 20px;
  }
}

.city-bike h2 {
  font-family: inherit;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  margin: 0 0 51px;
}

.city-bike p {
  font-family: inherit;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin: 0 0 40px;
}

.city-bike a {
  min-height: 40px;
  width: 175px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #801019;
  color: #FFFEFE;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  text-transform: uppercase;
}

.city-bike img {
  width: 100%;
  height: auto;
}
@media (max-width: 1030px) {
  .city-bike img {
    margin: 0 0 21px;
  }
}

.city-bike__slider {
  width: 55%;
}
@media (max-width: 1030px) {
  .city-bike__slider {
    width: 100%;
  }
}

.city-bike__wrp {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1030px) {
  .city-bike__wrp {
    flex-direction: column;
  }
}

.city-bike__content {
  width: 34%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1030px) {
  .city-bike__content {
    width: 100%;
    align-items: center;
  }
}

.sale {
  background: #801019;
  margin: 0 0 314px;
}

.sale h2 {
  font-family: inherit;
  font-size: 100px;
  font-weight: 700;
  line-height: 110px;
  text-transform: uppercase;
}
@media (max-width: 1400px) {
  .sale h2 {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
  }
}

.sale__wrp {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 500px;
  justify-content: space-between;
  padding: 0 113px 0 104px;
}
@media (max-width: 1400px) {
  .sale__wrp {
    min-height: 300px;
    padding: 0 63px;
  }
}
@media (max-width: 900px) {
  .sale__wrp {
    min-height: 184px;
    padding: 0 20px 0 0;
  }
}

.sale__img-wrp {
  position: relative;
}

.sale__img-wrp:before {
  content: "";
  height: 755px;
  width: 755px;
  position: absolute;
  background: #FFFEFE;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}
@media (max-width: 1400px) {
  .sale__img-wrp:before {
    height: 500px;
    width: 500px;
    top: -50px;
  }
}
@media (max-width: 900px) {
  .sale__img-wrp:before {
    height: 278px;
    width: 278px;
  }
}

.sale__img-wrp img {
  position: relative;
  z-index: 1;
}
@media (max-width: 1400px) {
  .sale__img-wrp img {
    height: 400px;
    width: 400px;
  }
}
@media (max-width: 900px) {
  .sale__img-wrp img {
    height: auto;
    width: 184px;
  }
}

.reviewed {
  margin: 0 0 170px;
  padding: 0 96px;
}
@media (max-width: 1030px) {
  .reviewed {
    padding: 0 20px;
  }
}

.reviewed h2 {
  font-family: inherit;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  margin: 0 0 33px;
  text-transform: uppercase;
}

.footer {
  background: #282828;
  padding: 91px 96px 104px;
}
@media (max-width: 1030px) {
  .footer {
    padding: 50px 20px 0;
  }
}

.footer__nav-list a {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #FFFEFE;
  display: block;
  margin: 0 0 59px;
  text-transform: uppercase;
}
@media (max-width: 1030px) {
  .footer__nav-list a {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    margin: 0 0 7px;
  }
}

.footer__wrp {
  display: flex;
  justify-content: space-between;
  margin: 0 0 90px;
}
@media (max-width: 1030px) {
  .footer__wrp {
    flex-direction: column;
    margin: 0 0 53px;
  }
}

.footer__form h2 {
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  text-transform: uppercase;
  margin: 0 0 83px;
}
@media (max-width: 1030px) {
  .footer__form h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
    margin: 0 0 20px;
  }
}

.footer__form-wrp {
  display: flex;
  margin: 0 0 30px;
}

.footer__form [type=email] {
  display: block;
  height: 50px;
  width: 337px;
  padding: 10px;
  box-sizing: border-box;
}

.footer__form button {
  min-height: 50px;
  width: 104px;
  background: #801019;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #FFFEFE;
}

.footer__social-list {
  display: flex;
}

.footer__social-list a {
  display: block;
  margin: 0 30px 0 0;
}

.footer__social-wrp {
  display: flex;
}

.footer__social-wrp span {
  margin: 0 0 81px;
}

/*# sourceMappingURL=style.css.map */
