.city-bike {
  padding: 170px 96px 280px;

  @include desktop-min-width {
    padding: 50px 0 97px 20px;
  }
}

.city-bike__slide-wrp  {
  display: flex;

  @include desktop-min-width {
    flex-direction: column;
    justify-content: center;
  }
}

.city-bike h2 {
  font-family: inherit;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  margin: 0 0 51px;
}

.city-bike p:first-of-type {
  font-family: inherit;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin: 0 0 40px;
  width: 100%;
}

.city-bike a {
  min-height: 40px;
  width: 175px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #801019;
  color: #FFFEFE;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  text-transform: uppercase;

  &:hover,
  &:focus {
      background: #290500;
  }

  &:active {
    background: #f70a27;
  }

}

.city-bike img {
  width: 50%;
  height: auto;
  margin: 0 202px 0 0;

  @include desktop-max-width {
    width: 100%;
    margin: 0 0 21px;
  }
}

.city-bike__slider {
  width: 55%;

  @include tablet {
    width: 100%;
  }
}

.city-bike__wrp {
  display: flex;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
  }
}

.city-bike__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet {
    width: 100%;
    align-items: center;
  }
}
