.products {
  padding: 170px 0 156px;

  @include desktop-min-width {
    padding: 50px 0;
  }
}

.products--catalog {
  padding: 0 0 156px;
}

.products h2 {
  font-family: inherit;
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 51px;
}


