.product-card {
  padding: 132px 0;

  @include tablet {
    padding: 55px 0;
  }
}

.product-card h1 {
  font-family: inherit;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  margin: 0 0 55px;
  text-transform: uppercase;

  @include tablet {
    font-size: 25px;
    line-height: 28px;
  }
}

.product-card__info-wrp {
  display: flex;

  @include desktop-min-width {
    flex-direction: column;
  }
}

.product-card__img-wrp {
  background: #FFFEFE;
  margin: 0 30px 0 0;
  width: 73%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop-min-width {
    width: 100%;
    margin: 0 0 50px;
  }
}

.product-card__img-wrp img {
  width: 65%;
}

.product-card__form {
  flex-grow: 1;
}

.product-card__form {
  background: #801019;
}

.product-card__form-wrp {
  padding: 50px 50px 0 50px;
  margin: 0 0 75px;
}

.product-card__form-title-wrp,
.product-card__form-wrp h3 {
  margin: 0 0 30px 0;
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
}

.product-card__form-title-wrp {
  display: flex;
  justify-content: space-between;
}

.product-card__form-radio-wrp {
  display: flex;
}

.product-card__form-radio-wrp label {
  height: 50px;
  width: 50px;
  border: 1px solid #FFFEFE;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.6;
  }

  &:active {
    background: #FFFEFE;
  }
}

.product-card__form-radio-wrp label {
  margin: 0 25px 0 0;
}

.product-card__form-radio-wrp [type="radio"]:checked+label {
  background: #FFFEFE;
  color: #000;
}

.product-card__form-radio-wrp  {
  margin: 0 0 74px  0;
}

.product-card__form-wrp span {
  width: 170px;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background: #FFFEFE;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  margin: 0 0 74px;
}

.product-card__form-wrp p {
  font-family: inherit;
  font-size: 30px;
  font-weight: 400;
  line-height: 33px;
}

.product-card__form button {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  text-transform: uppercase;
  min-height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  background: #FFFEFE;
  color: #801019;

  &:hover,
  &:focus {
    background: #801019;
    color: #FFFEFE;
  }
}

.product-card__form-title-wrp button {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  background: inherit;
  border: none;
  text-decoration: underline;
  color: #FFFEFE;
  width: auto;
  min-height: 15px;
}
