.reviewed {
  padding: 314px 0 170px;

  @include desktop-max-width {
    padding: 97px 0 50px;
  }
}

.reviewed h2 {
  font-family: inherit;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  margin: 0 0 33px;
}

.reviewed--catalog {
  padding: 50px 0;
  background: #282828;;
}
