.reviewed {
  margin: 0 0 170px;
  padding: 0 96px;

  @include tablet {
    padding: 0 20px;
  }
}

.reviewed h2 {
  font-family: inherit;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  margin: 0 0 33px;
  text-transform: uppercase;
}