.review {
  padding: 170px 0 0 0;


  @include tablet {
    padding: 100px 0 0 0;
  }
}

.review h2 {
  font-family: inherit;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  margin: 0 0 57px;

  @include tablet {
    font-size: 25px;
    line-height: 28px;
    margin: 0 0 20px;
  }

}

.review__wrp {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.review__list {
  width: 50%;

  @include desktop-min-width {
    width: 60%;
  }
}

.review button {
  min-height: 40px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  background: #801019;
  color: #FFFEFE;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus {
    background: #290500;
  }

  &:active {
    background: #f70a27;
  }
}

.review__item h3 {
  font-family: inherit;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
}

.review__item {
  font-family: inherit;
  font-size: 22px;
  font-weight: 300;
  line-height: 24px;
}

.review__item p {
  margin: 0 0 10px;
}

.review__item  {
  margin: 0 0 56px 0;
}

.review__item span {
  display: block;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.review__item:last-child {
  margin: 0;
}
