.sale {
  background: #801019;
  margin: 0 0 314px;
}

.sale h2 {
  font-family: inherit;
  font-size: 100px;
  font-weight: 700;
  line-height: 110px;
  text-transform: uppercase;

  @include desktop-min-width {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
  }
}

.sale__wrp {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 500px;
  justify-content: space-between;
  padding: 0 113px 0 104px;

  @include desktop-min-width {
    min-height: 300px;
    padding: 0 63px;
  }

  @include mobile {
    min-height: 184px;
    padding: 0 20px 0 0;
  }
}

.sale__img-wrp {
  position: relative;
}

.sale__img-wrp:before {
  content: '';
  height: 755px;
  width: 755px;
  position: absolute;
  background: #FFFEFE;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;

  @include desktop-min-width {
    height: 500px;
    width: 500px;
    top: -50px;
  }

  @include mobile {
    height: 278px;
    width: 278px;
  }
}

.sale__img-wrp img {
  position: relative;
  z-index: 1;

  @include desktop-min-width {
    height: 400px;
    width: 400px;
  }

  @include mobile {
    height: auto;
    width: 184px;
  }
}


